$color--black: #000000;
$color--white: #ffffff;

$color--l-gray: #f5f5f5;
$color--d-gray: #262626;
$color--excerpt-gray: #8b8b8b;
$color--footer-gray: #7d7d7d;
$color--footer-input-gray: #2b2b2b;

$color--d-blue: #0D2D58;
$color--blue: #0052C1;
$color--l-blue: #89B8F6;
